@{
    ViewData["Title"] = "Home Page";
}
<div class="mt-4 p-5 bg-light text-center">
    <h2 class="display-4">Hello, Admin!</h2>
    <p class="lead mb-1 mt-3">
        This is your administrator area - you can <b>read</b>, <b>create</b>,
        <b>delete</b> and <b>edit</b> clients, employees, administrators and projects.
        <br />
    </p>
    <p class="lead mt-1">
        You can also see <b>all clients, employees, administrators and projects</b> in the system.
    </p>
    <hr class="my-4">
    <div class="mb-3">
        <a asp-area="Admin" asp-controller="Administrator" asp-action="ManageAdministrators" class="btn btn-primary btn-lg">Manage administrators</a>
    </div>
    <hr />
<div class="mb-3">
        <a asp-area="Admin" asp-controller="Client" asp-action="All" class="btn btn-primary btn-lg me-2">All clients</a>
       <a asp-area="Admin" asp-controller="Employee" asp-action="All" class="btn btn-primary btn-lg me-2">All employees</a>
        <a asp-area="Admin" asp-controller="Project" asp-action="All" class="btn btn-primary btn-lg">All projects</a>
</div>
    <hr />
<div>
        <a asp-area="" asp-controller="Client" asp-action="Create" class="btn btn-primary btn-lg me-2">Create client</a>
        <a asp-area="" asp-controller="Employee" asp-action="Create" class="btn btn-primary btn-lg me-2">Create employee</a>
        <a asp-area="" asp-controller="Project" asp-action="Add" class="btn btn-primary btn-lg">Create project</a>
</div>
</div>
