@using CivilEngineerCMS.Services.Data.Interfaces;
@using CivilEngineerCMS.Web.Infrastructure.Extensions;
@inject IEmployeeService EmployeeService;

@{
    ViewData["Title"] = "Home Page";
    bool isEmployee = await EmployeeService.IsEmployeeAsync(User.GetId());

}
<div class="mt-4 p-5 bg-light text-center">
    <h2 class="display-4"><b>Hello, Admin!</b></h2>
    <p class="lead mb-1 mt-3">
        This is your administrator area - you can <b>read</b>, <b>create</b>,
        <b>delete</b> and <b>edit</b> clients, employees, administrators and projects.
        <br />
    </p>
    <p class="lead mt-1">
        You can also see <b>all clients, employees, administrators and projects</b> in the system.
    </p>
    <hr class="my-4">
    <div class="mb-3">
        <a asp-area="Admin" asp-controller="Administrator" asp-action="ManageAdministrators" class="btn btn-primary btn-lg mb-2 me-2">Manage administrators</a>
    </div>
    <hr />
    <div class="mb-3">
        <a asp-area="Admin" asp-controller="Client" asp-action="All" class="btn btn-primary btn-lg mb-2 me-2">All clients</a>
        <a asp-area="Admin" asp-controller="Employee" asp-action="All" class="btn btn-primary btn-lg mb-2 me-2">All employees</a>
        <a asp-area="Admin" asp-controller="Project" asp-action="All" class="btn btn-primary btn-lg mb-2 me-2">All projects</a>
    </div>
    <hr />
    <div class="mb-3">
        <a asp-area="" asp-controller="Client" asp-action="Create" class="btn btn-primary btn-lg mb-2 me-2">Create client</a>
        <a asp-area="" asp-controller="Employee" asp-action="Create" class="btn btn-primary btn-lg mb-2 me-2">Create employee</a>
        <a asp-area="" asp-controller="Project" asp-action="Add" class="btn btn-primary btn-lg mb-2 me-2">Create project</a>
    </div>
</div>

<hr />
<div class="mt-4 p-2 bg-light text-center">
    @if (isEmployee)
    {
        <div class="mb-1">

            <h2 class="display-4"><b>Employees functions</b></h2>

            <a asp-area="" asp-controller="Employee" asp-action="Mine" class="btn btn-info btn-lg mb-2 me-2">My manager's projects</a>
            <a asp-area="" asp-controller="Employee" asp-action="MineByEmployeeId" class="btn btn-info btn-lg mb-2 me-2">My employee's projects</a>
        </div>

    }
</div>


    <div class="mb-3"></div>
    <div class="row">
        <div class="col-12 text-center">
        <button class="buttonStatistic" id="statistics_btn">Show statistics</button>
        </div>
    </div>
    <div class="mt-4 p-5 bg-light d-none" id="statistics_box">
        <div class="row">
            <h2 class="col-md-4 text-center" id="total_projects"></h2>
            <h2 class="col-md-4 text-center" id="total_active_projects"></h2>
            <h2 class="col-md-4 text-center" id="total_clients"></h2>
        </div>
    </div>


@section Scripts {
    <script>statistics();</script>
}
