@model CreateAndEditClientFormModel
@{
    ViewData["Title"] = "Add Client";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_CreateClientFormPartial" model="@Model" />

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />

}
