@model AddAndEditProjectFormModel

@{
    ViewData["Title"] = "Add Project";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr/>
<partial name="_ProjectEditFormPartial" model="@Model" />


@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}