@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>



<div >
    <p>At <b>CivilEngineerCMS</b>, we are committed to protecting the privacy and security of our customers' personal information. This Privacy Policy explains how we collect, use, and disclose the information we receive through our Customer Management System website ("CMS") and the choices you have regarding your information.</p>
    <p>Information We Collect</p>
    <p>1.1 Personal Information: We may collect personal information, such as your name, email address, phone number, and company name, when you register an account or interact with our CMS. We only collect information that is necessary to provide you with our services and improve your user experience.</p>
    <p>1.2 Usage Information: We automatically collect certain information about your use of the CMS, such as your IP address, browser type, operating system, referring URLs, and pages visited. This information helps us analyze trends, administer the CMS, and gather demographic information for aggregate use.</p>
    <p>Use of Information</p>
    <p>2.1 Provide and Improve Services: We use the information we collect to operate, maintain, and enhance the functionality of our CMS. This includes providing personalized services, improving user experience, and developing new features.</p>
    <p>2.2 Communication: We may use your contact information to send you important notifications, updates, and promotional materials related to our services. You can choose to opt out of these communications at any time by following the instructions provided in the email or contacting us directly.</p>
    <p>2.3 Customer Support: We may use your information to respond to your inquiries, provide customer support, and address any issues you may encounter while using our CMS. </p>
    <p>2.4 Analytics and Research: We may use aggregated and anonymized information for statistical analysis, market research, and other business purposes. This information does not personally identify you.</p>
    <p>Information Sharing and Disclosure</p>
    <p>3.1 Third-Party Service Providers: We may engage third-party service providers to assist us in operating and maintaining the CMS or to perform services on our behalf. These providers may have access to your personal information but are obligated to keep it confidential and use it only for the purpose of providing services to us.</p>
    <p>3.2 Legal Requirements: We may disclose your personal information if required by law, regulation, or legal process, or if we believe it is necessary to protect the rights, property, or safety of [Company Name], our customers, or others.</p>
    <p>Data Security</p>
    <p>We implement reasonable security measures to protect the confidentiality and integrity of your personal information. However, no data transmission or storage system can be guaranteed to be 100% secure. If you have reason to believe that your interaction with us is no longer secure, please notify us immediately.</p>
    <p>Your Choices</p>
    <p>5.1 Access and Update: You have the right to access and update your personal information held by us. You can do this by logging into your account or contacting us directly. We will make reasonable efforts to accommodate your request, subject to any legal and contractual obligations.</p>
    <p>5.2 Opt-out: You can opt out of receiving promotional communications from us by following the instructions provided in the email or contacting us directly. However, please note that even if you opt out, we may still send you non-promotional messages, such as administrative or transactional communications regarding your account.</p>
    <p>Changes to this Privacy Policy</p>
    <p>We may update this Privacy Policy from time to time to reflect changes in our practices and services. The revised policy will be posted on our CMS, and the effective date will be indicated at the top. We encourage you to review the Privacy Policy periodically for any changes.</p>
    <p>Contact Us</p>
    <p>If you have any questions, concerns, or requests regarding this Privacy Policy or our data practices, please contact us at [contact information].</p>
    <p>By using our CMS, you agree to the collection, use, and disclosure of your information as described in this Privacy.</p>
</div>
